{% extends "layouts/base.html" %}

{% block title %}Inserir Senha{% endblock %}

{% block content %}
<div class="text-center">
    <h2>{{ action_heading }}</h2>
    <form method="POST">
        {% set id = 'password' %}
        {% set label = 'Senha' %}
        {% set type = 'password' %}
        {% set name = 'password' %}
        {% set placeholder = 'Digite sua senha' %}
        {% set value = '' %}
        {% include 'components/form_group.html' %}
        <button type="submit" class="btn btn-primary">{{ action_button_text }}</button>
    </form>
</div>
{% endblock %}
