{% extends "layouts/base.html" %}

{% block title %}Visualizar Documento PDF{% endblock %}

{% block content %}
<div class="text-center">
    <h2>Visualizar Documento PDF</h2>
    <embed src="data:application/pdf;base64,{{ document.content | b64encode }}" width="600" height="800" type="application/pdf">
    {% if document.signature %}
        <p class="text-success">Este documento foi assinado.</p>
        
        {% set url = url_for('verify_document', document_id=document.id) %}
        {% set style = 'info' %}
        {% set text = 'Verificar Assinatura' %}
        {% include 'components/button.html' %}
        
    {% else %}
        <p class="text-warning">Este documento ainda não foi assinado.</p>
    {% endif %}
    
    {% set url = url_for('list_documents') %}
    {% set style = 'secondary' %}
    {% set text = 'Voltar' %}
    {% include 'components/button.html' %}
</div>
{% endblock %}
    