{% extends "layouts/base.html" %}

{% block title %}Visualizar Documento PDF{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh; background-color: #f8f9fa;">
    <div class="card shadow-lg p-4" style="width: 80%; max-width: 800px; border-radius: 15px;">
        <div class="text-center mb-4">
            <h2 class="text-primary" style="font-weight: bold;">Visualizar Documento PDF</h2>
        </div>
        <embed src="data:application/pdf;base64,{{ document.content | b64encode }}" width="100%" height="600" type="application/pdf" style="border: none;">

        <div class="mt-4">
            {% if document.signature %}
                <p class="text-success">Este documento foi assinado.</p>
                
                {% set url = url_for('verify_document', document_id=document.id) %}
                {% set style = 'info' %}
                {% set text = 'Verificar Assinatura' %}
                {% include 'components/button.html' %}
                
            {% else %}
                <p class="text-warning">Este documento ainda não foi assinado.</p>
            {% endif %}
            
            {% set url = url_for('list_documents') %}
            {% set style = 'secondary' %}
            {% set text = 'Voltar' %}
            {% include 'components/button.html' %}
        </div>
    </div>
</div>
{% endblock %}
