{% extends "base.html" %}
{% block title %}{{ action_title }}{% endblock %}

{% block content %}
<div class="text-center">
    <h2>{{ action_heading }}</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="password" class="form-label">Senha:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-warning">{{ action_button_text }}</button>
    </form>
</div>
{% endblock %}
